<header>
  <div class="site-title"><a href="{{ '/index.html' | relative_url }}">Harry Wojtas</a></div>
  <nav>
    <a href="{{ '/about.html' | relative_url }}" {% if page.url == '/about.html' %}class="active"{% endif %}>About</a>

    <div class="dropdown">
      <a class="dropbtn{% if page.url == '/pottery.html' %} active{% endif %}" href="{{ '/pottery.html' | relative_url }}">Pottery ▾</a>
      <div class="dropdown-content">
        <a href="{{ '/snakes.html' | relative_url }}">Snakes</a>
        <a href="{{ '/dinnerware.html' | relative_url }}">Dinnerware</a>
      </div>
    </div>

    <a href="{{ '/block-print.html' | relative_url }}" {% if page.url == '/block-print.html' %}class="active"{% endif %}>Block Print</a>

    <div class="dropdown">
      <a class="dropbtn" href="#">Photos ▾</a>
      <div class="dropdown-content">
        <a href="{{ '/bigplaces.html' | relative_url }}">Grand Places</a>
        <a href="{{ '/peru.html' | relative_url }}">Peru</a>
        <a href="{{ '/birds.html' | relative_url }}">Birds</a>
      </div>
    </div>

    <a href="{{ '/cv.html' | relative_url }}" {% if page.url == '/cv.html' %}class="active"{% endif %}>CV</a>
    <a href="{{ '/contact.html' | relative_url }}" {% if page.url == '/contact.html' %}class="active"{% endif %}>Contact</a>
  </nav>
</header>